
/* footer */
footer {
  width: 100%;
  height: 80px;
  margin-top: 80px;
  background-color: #151818;
  position:absolute;
  bottom:-150rem;
}
.footer_wrap {
  color: #A1A1A1;
  margin: 0 40px;
}

.footer_wrap > p {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  top: 30px;
}

svg{
  background-color: #00B6CF;
  position:fixed;
  right:50px;
  bottom:50px;
}


/* FAQ  */


.faq_haeder{
  position:absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  border:1px solid white;
  border-radius:25px;
  background-color:white;
}

.faq_name{
  font-size: 4rem;
  margin: 5px 0px 30px 0px;
  text-align:center;
  padding: 5rem;
}


details{
  border-bottom:1px solid white;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
 
.faq_question {
  border:1px solid #00B6CF;
  background-color: #00B6CF;
  padding: 2rem;
  height: 200;
  color: white;
  position: relative; 
  
}
  
.faq_question::before {
  display: inline-block;
  content: 'Q';
  color: #FFFFFF;
  margin: 0 40px;
}

.faq_question::marker {
  content:"+";
}

details[open] .faq_question::marker {
  content:"-";
;}

.faq_ask{
  margin: 0;
  background-color:rgba(220, 220, 220, 0.47);
 
}

.faq_ask::before {
  display: inline-block;
  content: 'A';
  font-weight: bold;
  color: #C2C2C2;
  padding:4rem 3rem 4rem 5rem;
}

ol{
  padding: 0rem 10rem 4rem 10rem;
  list-style: decimal;
}

.faq_question, .faq_question::before, .faq_question::marker,
details[open] .faq_question::marker, .faq_ask, .faq_ask::before {
  font-size: 20px;
}