@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR';
    font-style: normal;

}
body{
    background-color: #fff;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none
    
}


.html_wrap{
    letter-spacing: -0.04rem;
    overflow-x: hidden;
}    
.main_Banner {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.90), rgba(0,0,0,0.65), rgba(0,0,0,0.1)),url('../img/main-backgrond.png');
}
/* header */
.header_wrap {
    position: absolute;
    width: 100%;
    height: 80px;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: 0 40px;
    margin-top: 24px;
}

.logo_text {
    color: #fff;
    text-decoration: none;
}

/* nav */
.nav_flex {
    display: flex;
    justify-content: space-between;
}

.nav_margin {
    color: #868686;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.nav_margin:hover {
    color: #fff;
    transition: 1.5s, color 1s;
}

.button_deco {
    color: #fff;
    text-decoration: none;
    padding: 0px 12px;
    font-size: 18px;
    border: 1px solid #fff;
    height: 46px;
    text-align: center;
    display: flex;
    align-items: center;

}
.button_deco:hover {
    border: none;
    color: #151818;
    font-weight: 500;
    background-color: #00B6CF;
    transition: 1.5s, color 1s;
}


.main_Banner_text_wrap {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: -0.05rem;
    position: absolute;
    left: 17.4%;
    width: 730px;
    height: 261px;
    top: 109px;
}

.main_Banner_wrap {
    position: relative;
}

/* item */

.item{
    background-color: black;
    width: 425px;
    height: 500px;
    /* background-image: linear-gradient(to top, rgba(0,0,0,0.90), rgba(0,0,0,0.65), rgba(0,0,0,0.1)),url('./image/다운로드.jpg'); */
    margin-left: 32px;
    margin-top: 40px;
    display: flex;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;

}
.img{
    width: 425px;
    height: 500px;
    filter:brightness(0.5);
}
.item > .front{
    color: white;

}
.main{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;

}


.article-item{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   perspective: 1100px;

}



/* footer */
footer {
    width: 100%;
    height: 80px;
    margin-top: 80px;
    background-color: #151818;
}

.footer_wrap {
    color: #A1A1A1;
    margin: 0 40px;
}

.footer_wrap > p {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top:30px;
}

/* detail-item */
.detail-header{
    display: flex;
}
.detail-footer{
    margin-top: 28px;
}

.detail-item{
    position: absolute;
    top:380px;
    left: 37px;
}

.p-orther{
    border: 1px solid #ffff;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;
}

.front  hr{
    width: 90px;
    margin-top: 5px;
}


.front, .back {
    position: absolute;
    width: 100%; 
    height: 100%;
    backface-visibility: hidden;
  }


  .back { 
    background: #F5F5F5;
    transform: rotateY(180deg);
  }

  /* 뒤집기 이벤트 */
 
.item.clickitem {
    transform: rotateY(180deg);
} 

/* back */

.image{
    width: 357px;
    height: 200px;
    margin-left: 35px;
}
.back-p-orther{
    border: 1px solid #151818;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;
    margin-top:20px;
    font-size: 16px;
}


.member-header{
    color:white;  
    background-color:#00B6CF; 
    width: 100px;
    height: 32px;
    margin-left: 35px;
    margin-top:40px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.back-detail-footer{    
    margin-top: 28px;
    margin-left: 20px;
  
}

.back-detail-item{
    position: absolute;
}

.back-detail-header-item{
    display: flex;
    margin-left: 33px;
    margin-top:20px;
}

.back-detail-footer-image{
    width:15px; 
    height:15px; 
    
}

.back-detail-footer-item{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-left: 18px;
}

.back-detail-detail-footer{
    margin-left:18px;
    margin-top:20px;
}

/* scroll-bar-top */
.scoll-bar-top{
    position: fixed;
    right: 30px;
    bottom: 10px;
    outline: 0;
    border: 0;
    z-index: 9999;
    width: 80px;
    height:80px;
    background: #00B6CF;
    color: #3F51B5; /* 색상변경*/
}